body {
  background-color: #ebebeb;
  color: blue;
  font-size: large;
  line-height: 2rem;
}

ul {
  list-style-type: none;
}
/* .to_Do_Li {

} */

.to_Do_Span {
  text-align: center;
  position: fixed;
    margin-left: 2rem;


}

.to_Do_Button {
  justify-content: start;
  margin-left: 2rem;
  text-align: center;
  border-color: blue;
}


.en_Cours {
  background-color: cyan;
}