body {
  background-color: #ebebeb;
  color: #115B36;
  font-size: large;
  line-height: 2rem;
}

.conteneur {
  display: flex;
}

.to_Do {
width: 80%;
margin-top: 1rem;
margin-left: 10%;
height: auto;
border: 1px solid black;
}

.plage {
width: 46%;
 justify-content: center;
}

.display_None {
display: none;
}
.display_On {
display: flex
}

ul {
  list-style-type: none;
}
.stylo {
  justify-content: end;
  width: 8%;
}


.to_Do_Span {
  text-align: center;
  position: fixed;
  margin-left: 2rem;
}



button {
  color: #115B36; 
}


.en_Cours {
background-color: #FCD7B2;
}


footer{
line-height: 1rem;
font-size: 0.6em;
background:#FCD7B2;
position:absolute;
bottom:0;
width:100%;
padding-top:1px;
height: 30px;

}

 